*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    animation: color 12s ease-in-out infinite;
    background-size: 300% 300%;
}